<div>
    <!-- Tab panel -->
    <div class="container-fluid tabbable-panel ">
        <!-- Nav tab -->
        <div class="tabbable-line">
            <ul class="nav nav-tabs">
                <!--  Tab Jugadores -->
                <li class="dropdown">
                    <a class="hvr-underline-from-center" href="#" data-toggle="dropdown">Jugadores <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab_register" data-toggle="tab">Registrar jugador</a></li>
                        <li><a href="#tab_list" data-toggle="tab">Visualizar jugadores</a></li>
                    </ul>
                </li>
                <!-- Tab propiedades -->
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Propiedades <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#tab_properties" data-toggle="tab">Propiedades en venta</a></li>
                        <li><a href="#tab_buy" data-toggle="tab">Comprar propiedades</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Close Nav tab -->
        <!-- Tab info container -->
        <div class="tab-content">
            <!-- Register's Tab -->
            <div class="tab-pane active" id="tab_register">
                <div class="container-fluid">
                    <h2 class="panel-heading">Registrar jugador</h2>
                    <form class="col-xs-10 col-xs-offset-1" ng-submit="vm.presave(vm.user)" name="frmPlayerReg">
                        <div class="col-xs-12">
                            <!-- id -->
                            <div class="col-xs-4">
                                <input class="col-xs-12" type="text" ng-model="vm.user.id" name="id" placeholder="Cédula" required>
                            </div>
                            <!-- alias -->
                            <div class="col-xs-4">
                                <input class="col-xs-12" type="text" ng-model="vm.user.alias" placeholder="Alias" name="alias" required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <!-- name -->
                            <div class="col-xs-4">
                                <input class="col-xs-12" type="text" ng-model="vm.user.name" placeholder="Nombre" name="name" required>
                            </div>
                            <!-- Photo -->
                            <div class="col-xs-4">
                                <span class="btn btn-default btn-file col-xs-12">
                                 Seleccione una foto <input type="file" ng-model="vm.user.photo" id="photo">
                            </span>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-xs-10 col-xs-offset-9">
                            <button class="btn btn-primary" ng-click="vm.reset()" ng-disable="frmPlayerReg.$invalid">Registrar</button>
                        </div>
                    </form>
                    <!-- Validations -->
                    <div class="col-xs-12" ng-show="vm.alert1.state">
                        <h5 class="col-xs-10">Usuario registrado exitosamente.</h5>
                    </div>
                </div>
                <!-- Close register form -->
            </div>
            <!-- Close Tab form -->
            <div class="tab-pane" id="tab_list">
                <div class="row col-xs-12">
                    <h2 class="panel-heading">Jugadores registrados</h2>
                    <!-- User's card -->
                    <div class="col-md-4 col-lg-3" ng-repeat="user in vm.users">
                        <div class="media">
                            <a class="pull-left">
                            <img class="media-object dp img-circle" src="{{ user.photo }}" style="width: 100px;height:100px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ user.alias }}</h4>
                                <p>{{ user.id }}</p>
                                <p>{{ user.name }}</p>
                                <p>{{ user.money | currency }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- EndS card -->
                </div>
            </div>
            <!-- Close Tab list -->
            <!-- Property tab -->
            <div class="tab-pane" id="tab_properties">
                <h2 class="panel-heading">Propiedades en venta</h2>
                <div class="card col-sm-3" ng-repeat="property in vm.properties">
                    <div class="card-block">
                        <h4 class="card-title">{{property.name}}</h4>
                        <p class="card-text">{{ property.id }}</p>
                        <p class="card-text">{{ property.price }}</p>
                        <p class="card-text">{{ property.ownedby }}</p>
                    </div>
                </div>
            </div>
            <!-- Close Property Tab -->
            <!-- Buy Tab -->
            <div class="tab-pane" id="tab_buy">
                <div class="container-fluid">
                    <h2 class="panel-heading">Venta de propiedades</h2>
                    <form class="col-xs-12" ng-submit="vm.purchase(vm.infoPurchase)" name="frmPurchaseReg">
                        <div class="col-xs-5">
                            <!-- Datalist de propiedades -->
                            <input class="col-xs-12" list="propertiesList" type="text" ng-model="vm.infoPurchase.property" placeholder="-- Seleccione una propiedad --">
                            <datalist id="propertiesList">
                                <option ng-repeat="property in vm.properties" value="{{property.id}}"> {{property.name}} </option>
                            </datalist>
                        </div>
                        <div class="col-xs-5">
                            <!-- Datalist de jugadores -->
                            <input class="col-xs-12" list="playersList" type="text" ng-model="vm.infoPurchase.user" placeholder="-- Seleccione un usuario --">
                            <datalist id="playersList">
                                <option ng-repeat="user in vm.users" value="{{user.id}}"> {{user.name}} </option>
                            </datalist>
                        </div>
                        <div class="col-xs-10 col-xs-offset-9">
                            <button class="btn btn-primary" ng-click="vm.reset()" ng-disable="frmPurchaseReg.$invalid">Comprar</button>
                        </div>
                    </form>
                    <!-- Validations -->
                    <div class="col-xs-12" ng-show="vm.buyAlert.state">
                        <h5 class="col-xs-10">Compra realizada exitosamente.</h5>
                    </div>
                    <div class="col-xs-12" ng-show="vm.buyAlert2.state">
                        <h5 class="col-xs-10">La compra no se ha realizado. El usuario no tiene el dinero suficiente.</h5>
                    </div>
                     <div class="col-xs-12" ng-show="vm.buyAlert3.state">
                        <h5 class="col-xs-10">La compra no se ha realizado. La propiedad ya tiene dueño.</h5>
                    </div>
                </div>
            </div>
            <!-- Close Buy Tab -->
        </div>
        <!-- Close Tab info Container -->
    </div>
    <!-- Close tab panel -->
